*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: steelblue;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#Label_container{
    display: flex;
    flex-direction: column;
    flex-basis: 20px;
    align-items: center;
}

#wiki{
    font-size: 10px;
}
#text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
#container-world-map{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    justify-content: center;
}
#worldMap{
    display: flex;
    width: 60vw;
    padding-bottom: 10px;
    max-height: 100px;
    max-width: 100px;
}
#nationalAnthem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#country{
align-items: center;
}
#Specific_Country{
    display: flex;
    flex-basis: 300px;
    align-items: center;
    justify-content: center;
}

#flag-and-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#flag{
    max-width: 200px;
    max-height: 200px;
    margin: 5px;
}
#Countries{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding-top: 20px;

}
#search-form{
    display: flex;
    justify-content: center;
}

#DivContainer{
    background-color: #e8dbdb;
    border: solid 2px rgba(102, 100, 100, 0.76);
    list-style: none;
    display: flex;
    padding: 30px 20px;
    flex-basis: 500px;
    border-radius: 15px 15px;
    box-shadow: 4px 5px 10px gray;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
#population{
    margin-left: 10px;
}

a:link, a, a:visited{
    text-decoration: none;
    color: white;
    align-items: center;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}
#button{
    background-color: lightgreen;
    color: darkolivegreen;
    height: 34px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    width: 60px;
    margin-left: -10px;
}
#search-value{
    height: 29px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    width: 200px;
    background-color: rgba(152, 251, 152, 0.66);
    padding-left: 10px;
}
#random{
    background-color: lightgreen;
    color: darkolivegreen;
    border-radius: 30px;
    width: 70px;
    border-color: lightgreen;
    margin-left: 20px;

}
